@font-face {
  font-family: "efootball-stencil-regular";
  src: url("./fonts/efootball-stencil-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: gold;
  font-size: 0rem;
  font-family: "efootball-stencil-regular", sans-serif;
  margin: 5px;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

#cover {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}



.playerCard {
  z-index: 0;
  position: relative;
  display: inline-block;
  width: 240px;
  height: 339px;
  background-color: blueviolet;
  border: 10px solid gold;
}

.playerCard:hover,
.playerCard:focus-visible {
  border: 10px;
  border-style: solid;
  border-top-color: rgb(255, 239, 148);
  border-bottom-color: rgb(110, 94, 0);
  border-right-color: goldenrod;
  border-left-color: goldenrod;
}

.playerCard:active {
  border: 10px;
  border-style: solid;
  border-top-color: rgb(110, 94, 0);
  border-bottom-color: rgb(255, 239, 148);
  border-right-color: goldenrod;
  border-left-color: goldenrod;
}

#cards div img {
  display: block;
  position: absolute;
  z-index: 1;
}

.ratingDivs {
  left: 12px;
  height: 55.2px;
  width: 59.125px;
  display: block;
  position: absolute;
  top: -2px;
  z-index: 3;
  font-family: "efootball-stencil-regular", sans-serif;
  font-size: 42px;
  color: white;
  text-align: center;
}

.positionDivs {
  left: 12px;
  height: 55.2px;
  width: 64.66px;
  display: block;
  position: absolute;
  top: 41px;
  z-index: 3;
  font-family: "efootball-stencil-regular", sans-serif;
  font-size: 30px;
  color: white;
  text-align: center;
}

.nameDivs {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 115px;
  z-index: 3;
  font-family: "efootball-stencil-regular", sans-serif;
  font-size: 25px;
  color: white;
  text-align: center;
}

.nameSpans {
  display: block;
  position: absolute;
  width: 100%;
}


/*Navigation Bar*/
#nav {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  position: relative;
  display: block;
  z-index: 10;
  font-family: inherit;
  font-size: 0px;
  /*IMP*/
  border: 1px solid goldenrod;
}


.navDiv {
  font-size: 1.4rem;
  display: inline-block;
  position: relative;
  inline-size: 25%;
  height: max-content;
  /*IMP*/
  vertical-align: text-top;
  /*IMP*/
  border: 10px solid gold;
  box-sizing: border-box;


}

.navDiv:hover,
.navDiv:focus-visible {
  border: 10px;
  border-style: solid;
  border-top-color: rgb(255, 239, 148);
  border-bottom-color: rgb(110, 94, 0);
  border-right-color: goldenrod;
  border-left-color: goldenrod;
  background-color: rgb(255, 230, 0);
  font-size: 1.6rem;
}

.navDiv:active {
  border: 10px;
  border-style: solid;
  border-top-color: rgb(110, 94, 0);
  border-bottom-color: rgb(255, 239, 148);
  border-right-color: goldenrod;
  border-left-color: goldenrod;
  background-color: gold;
  font-size: 1.2rem;
}

.navSpan {
  display: block;
  position: relative;
  text-align: center;
  padding: 0.5rem;

  line-height: 1.5rem;
  /*IMP*/
}


#footer {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  display: block;
  width: 100%;
  font-size: 0px;
  /*IMP*/
  border: 1px solid lawngreen;
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
}

#footerDivOuter {
  border: 1px solid goldenrod;
  padding: 5px;
}

#footerDiv {
  font-size: 1.4rem;
  display: block;
  position: relative;
  height: max-content;
  /*IMP*/
  width: 100%;
  border: 10px solid gold;
  box-sizing: border-box;
  /*IMP*/


  /*
  position: relative;
  display: flex;
  IMP* to set text in the middle vertically!

  align-items: center;
  IMP* to set text in the middle vertically!

  flex-flow: row;
  IMP* to set text in the middle vertically!

  justify-content: center;
  IMP to set text in the middle vertically! */
}

#footerDiv:hover,
#footerDiv:focus-visible {
  border: 10px;
  border-style: solid;
  border-top-color: rgb(255, 239, 148);
  border-bottom-color: rgb(110, 94, 0);
  border-right-color: goldenrod;
  border-left-color: goldenrod;
  background-color: rgb(255, 230, 0);
  font-size: 1.6rem;
}

#footerDiv:active {
  border: 10px;
  border-style: solid;
  border-top-color: rgb(110, 94, 0);
  border-bottom-color: rgb(255, 239, 148);
  border-right-color: goldenrod;
  border-left-color: goldenrod;
  background-color: gold;
  font-size: 1.2rem;
}

#footerSpan {
  display: inline-block;
  position: relative;
  text-align: center;
  padding: 0.5rem;

  line-height: 1.5rem;
  /*IMP*/

}

#footerDiv2 {
  block-size: 10rem;
}

/* Back To Top */
#Top {
  bottom: 0rem;
  right: 0rem;
  position: fixed;
  z-index: 11;
  display: inline-block;
  font-size: 1.5rem;
  border: 2px solid black;
  border-radius: 0.5rem;
  line-height: 1.5rem;
  padding-inline: 0.4rem;
  padding-block-end: 0.5rem;
}


.heading {
  font-family: "efootball-stencil-regular", sans-serif;
  font-size: 2rem;
  text-align: center;
  padding-block: 0rem;
}

.latestSquadDiv {
  display: block;
  position: relative;
  margin-block: 10px;
}

.latestSquadPic {
  inline-size: 100%;
}

.manager {
  top: 15.45%;
  left: 6%;
  position: absolute;
  display: block;
  z-index: 1;
  background-color: transparent;
  inline-size: 9.3%;
  block-size: 16.6%;
  box-sizing: content-box
}

.manager:hover,
.manager:focus-visible {
  top: calc(15.45% - 6px);
  left: calc(6% - 6px);

  border: 6px;
  border-style: solid;
  border-top-color: rgb(255, 239, 148);
  border-bottom-color: rgb(110, 94, 0);
  border-right-color: goldenrod;
  border-left-color: goldenrod;

}

.manager:active {
  top: calc(15.45% - 6px);
  left: calc(6% - 6px);

  border: 6px;
  border-style: solid;
  border-top-color: rgb(110, 94, 0);
  border-bottom-color: rgb(255, 239, 148);
  border-right-color: goldenrod;
  border-left-color: goldenrod;
  background-color: rgba(0, 0, 0, 0.6);
}
